:root {
  --bg-color: #0B0C10;
  --bg-alpha-color: rgba(11, 12, 16, 0.2);
  --lighter-bg-color: #1F2833;
  --text-color: #C6C6C6;
  --light-text-color: #E8E8E8;
  --highlight-color: #66FCF1;
  --highlight-alpha-color: rgba(102, 252, 241, 0.2);
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1em;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  background-color: var(--bg-color);
}

.title {
  font-size: 2.25rem;
  letter-spacing: -.025em;
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration: unset;
  color: var(--light-text-color)
}

.sub-title {
  font-size: 1.125rem;
  letter-spacing: -.025em;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--light-text-color)
}

nav {
  display: none;
}

nav > ul, header > ul {
  width: max-content;
  list-style: none;
  padding: 0;
  margin: 0;
}

header > ul {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

header > ul > li {
  margin-right: 1.5rem;
}

.media-link, .nav-link {
  color: var(--text-color);
  transition: 0.2s color;
  text-decoration: unset;
}

.nav-link {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.nav-indicator {
  width: 50px;
  height: 1px;
  margin-right: 12px;
  background-color: var(--text-color);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: width, background-color;
}

.nav-link:hover, .media-link:hover {
  cursor: pointer;
  color: var(--light-text-color);
}

.nav-link:hover > .nav-indicator, .nav-link.active > .nav-indicator {
  width: 100px;
  background-color: var(--light-text-color);
}

.media-link > svg {
  width: 1.5rem;
  height: 1.5rem;
}

main {
  padding: 6rem 0;
}

section {
  margin-bottom: 6rem;
}

.section-header {
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: 1rem;
  background-color: var(--bg-alpha-color);
  backdrop-filter: blur(8px);
  --webkit-backdrop-filter: blur(8px);
  z-index: 3;
}

.section-header > h2 {
  color: var(--light-text-color);
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

section > p, footer > p {
  font-size: .875rem;
  line-height: 1.5rem;
  color: var(--text-color);
}

section > ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

section > ol > li {
  margin-bottom: 3rem;
}

.card {
  display: grid;
  gap: 1rem;
  position: relative;
}

.foreground-filter {
  display: none;
  position: absolute;
  border-radius: 8px;
  top: -1rem;
  left: -1.5rem;
  right: -1.5rem;
  bottom: -1rem;
  z-index: 1;
}

.card-title {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: .025em;
  color: var(--text-color);
  text-transform: uppercase;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  z-index: 2;
}

.card-image {
  z-index: 2;
}

img {
  max-width: 100%;
  height: auto;
}

.card-content {
  color: var(--text-color);
  z-index: 2;
  border-radius: 4px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.card-content-header {
  color: var(--light-text-color);
  text-decoration: unset;
  line-height: 1.25;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.2s color;
}

.card-content-header:hover {
  color: var(--highlight-color);
}

.card-content-text {
  font-size: .875rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer > p {
  max-width: 28rem;
}

.inline-link {
  color: var(--light-text-color);
  text-decoration: unset;
  transition: 0.2s color;
}

.inline-link:hover {
  color: var(--highlight-color);
}

.download-button {
  display: flex;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 50px;
  padding: .25rem .75rem;
  color: var(--text-color);
  transition: 0.2s ease color, 0.2s ease border-color, 0.3s ease border-radius;
  text-decoration: unset;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-color)
}

.download-button:hover {
  cursor: pointer;
  color: var(--light-text-color);
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--light-text-color)
}

.tag {
  display: flex;
  align-items: center;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 9999px;
  padding: .25rem .75rem;
  color: var(--highlight-color);
  background-color: var(--highlight-alpha-color);
}

@media (min-width: 640px) {
  .title {
    font-size: 3rem;
    line-height: 1;
  }

  .card {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
  }

  .card-title, .card-image {
    grid-column: span 2/span 2;
    order: 1
  }

  .card-content {
    grid-column: span 6/span 6;
    order: 2;
  }
}

@media (min-width: 768px) {
  body {
    padding: 5rem 3rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 6rem;
  }

  .content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .content > header, .content > main {
    width: 50%;
  }

  .content > header {
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav {
    display: block;
    margin-top: 3rem;
  }

  main {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .section-header {
    display: none;
  }

  section > p, footer > p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-color);
  }

  .foreground-filter {
    display: block;
  }

  .card:hover > .foreground-filter {
    background-color: rgba(22, 24, 32, .5);
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 1px 0 0 rgba(148,163,184,.1);
  }
}
